body{
    font-family: "Montserrat", sans-serif;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

/* Navigation Bar */
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 4.5rem;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.nav-item{
    padding: 0 30px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Download buttons */
.download-btn{
    margin: 5% 3% 15% 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

/* big heading */
.big-heading{
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

/* Title image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features section*/

#features{
    padding: 7% 5%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box{
    padding: 4.5%;
    text-align: center;
}

h3{
    font-weight: 900;
    font-family: "Montserrat";
}

.Feature-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.Feature-icon:hover{
    color: #ff4c68;
}

#features p{
    color: rgb(63, 60, 55);
}

/* Testimonial Section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2{
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

.testimonial-image{
    border-radius: 100%;
    width: 20%;
    margin: 20px;
}

#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}


/* Pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
    
}

@media (max-width: 1028px) {
    #title{
        text-align: center;
    }
    .title-image{
        transform: rotate(0deg);
        position: static;
    }
}

/* call to action section */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15% 0%;
    line-height: 1.5;
}

#cta h3{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 2.5rem;
}

#footer .fab{
    margin: 0 10px;
}

/* footer section */

#footer{
    text-align: center;
    padding: 7% 15%;
    line-height: 40px;
}
.copyright{
    color: grey;
    font-size: 15px;
}

